<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Vehículos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        {% if user.is_authenticated%}
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>

          {% if perms.vehiculo.add_vehiculomodel %}
          <a class="nav-link" href="{% url 'add' %}">Agregar</a>
          {% endif %}

          {% if perms.vehiculo.visualizar_catalogo %}
            <a class="nav-link" href="{% url 'listado' %}">Listado</a>
          {% endif %}
        {% endif %}
          

      </div>

      <div class="navbar-nav">
        {% if user.is_authenticated %}
          <span class="nav-link">Bienvenido, {{ user.username }}</span>
          <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-link">Cerrar Sesión</button>
          </form>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
          <a class="nav-link" href="{% url 'register' %}">Registro</a>
        {% endif %}
      </div>

    </div>
  </div>
</nav>