{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">           
            <h1 class="mt-3 tex-center">Registro de Usuarios</h1>

            <form method="POST" class="row mt-3">
                {% csrf_token %}
                {{ form }}

                <div class="mt-3 gap-2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia Sesión AQUÍ</a></p>
                </div>




            </form>
        </div>
    </div>
</div>

{% endblock %} 